.vscode
result
src/*.o
src/*.hi
src/*.dyn_hi
src/*.dyn_o
src/*/*.o
src/*/*.hi
src/*/*.dyn_hi
src/*/*.dyn_o
.ghc.environment.*
dist-newstyle/
*/TAGS
verilator/build
vhdl
verilog
systemverilog
archive
vivado/*/*.log
vivado/*/*.jou
vivado/*/ip
vivado/*/post_route_prj.zip
vivado/*/post_route_timing.rpt
vivado/*/post_route_util.rpt
vivado/*/prj.cache
vivado/*/prj.hw
vivado/*/prj.gen
vivado/*/prj.runs
vivado/*/prj.srcs
vivado/*/prj.xpr
vivado/*/heron_ultra96.bit
vivado/*/heron_ultra96.hwh
.envrc
.direnv
emulator/emu
bitstreams
