debug=1
save-temps=1
temp_dir=siege_container
report_dir=siege_container/reports
log_dir=siege_container/logs
freqhz=20MHz:siege_axi_1

[advanced]
misc=solution_name=siege_container

[connectivity]
nk=siege_axi:1:siege_axi_1
# slr=siege_axi_1:SLR1

# [clock]
# id=2:siege_axi_1

[vivado]
#prop=run.synth_1.STEPS.SYNTH_DESIGN.ARGS.MAX_URAM_CASCADE_HEIGHT=1
prop=run.synth_1.STEPS.SYNTH_DESIGN.ARGS.DIRECTIVE=AreaOptimized_high
prop=run.impl_1.STEPS.PLACE_DESIGN.TCL.PRE=../../../../../../place_design_pre.tcl
prop=run.impl_1.strategy=Performance_EarlyBlockPlacement
#prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=Explore
#prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
#prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.DIRECTIVE=Explore
#prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
#prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=Explore
